<nav class="navbar">
    <a class="logo-image" routerLink="/"><img src="https://th.bing.com/th/id/OIP.M4i20y-g8IZwQjLkPLDA_AHaF7?w=215&h=180&c=7&r=0&o=5&pid=1.7" alt="My Angular App" /></a>
    <h2>MNP-Recipient </h2>
    <div class="nav-links">
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/caf">Customer Acquisition Form</a>
        </li>
        <li>
          <a routerLink="/status">Know Your Porting Status</a>
        </li>
        <li>
          <a routerLink="/activation">Activate Number</a>
        </li>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        
      </ul>
    </div>
    
  </nav>
  