<div class="login-container">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <h2>Enter Your Credentials</h2>
    <div class="input-group">
      <label class="form-label" for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required><br>
    </div>
    <div class="input-group">
      <label class="form-label" for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required><br>
    </div>
    <button type="submit">Login</button>
    <!-- Error message -->
    <div *ngIf="loginError" class="error-message">
      Login failed. Please check your credentials.
    </div>
  </form>
</div>
